body {
  font-family: "Amatic SC", cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chart {
  z-index: 5;
}

.mapContainer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding-left: 10%;
}

.chart {
  justify-self: center;
  align-self: center;
}

.year {
  text-align: center;
}

.body {
  margin-top: 10px;
  max-height: 90%;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  max-height: 200px;
}

.chartContainers,
.tempContainer {
  display: flex;
  flex-direction: row;
}
