body {
  font-family: "Amatic SC", cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chart {
  z-index: 5;
}

.mapContainer {
  display: flex;
  flex-direction: row;
}

.map {
  height: 100px;
}

.chart {
  justify-self: center;
  align-self: center;
}

.year {
  text-align: center;
}
